@tailwind base;
@tailwind components;
@tailwind utilities;

.shad:hover {
  box-shadow: 0 0 15px 1px #fff;
}

.bshad {
  background-color: #FAF9F6;
  box-shadow: 0 0 20px #FAF9F6,
              0 0 60px #FAF9F6,
              0 0 100px #FAF9F6;
}

.wrapper {
  background: linear-gradient(var(--angle, 45deg), #F17C58, #E94584);
  background-size: 600% 100%;
  animation: gradient 5s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    --angle: 45deg;
    background-position: 0%;
  }
  100% {
    --angle: calc(var(--angle) + 90deg);
    background-position: 100%;
  }
}
